<h1 class="display-4">Welcome To Article Base</h1>
<p class="mb-4">This is a Sails.JS App for managing articles</p>
<a href="/articles/list" class="btn btn-light">View Articles</a>
<a href="/articles/add" class="btn btn-light">Add Articles</a>

<br>

<div class='container'>
    <h3>.sort-me:</h3>
    <div class='sort-me'>
        <li>First</li>
        <li>Second</li>
        <li>Third</li>
    </div>
    <div class='sort-me'>
        <li>Lorem</li>
        <li>ipsum</li>
        <li>dolor</li>
    </div>
    <h3>#also-sort-me:</h3>
    <div id='also-sort-me'>
        <li>All</li>
        <li>your</li>
        <li>base</li>
    </div>
</div>


<style>
    li {
        background-color: #ffcb05;
        margin: 5px;
        padding: 5px;
        cursor: move;
    }

    div:not(.container) {
        background-color: #00274c;
        min-height: 30px;
        margin: 10px;
        padding: 10px;
        width: 200px;
        vertical-align: top;
        display: inline-block;
    }
</style>