<style>
  .draggable {
    width: 90px;
    height: 80px;
    padding: 5px;
    float: left;
    margin: 0 10px 10px 0;
    font-size: .9em;
  }

  .ui-widget-header p,
  .ui-widget-content p {
    margin: 0;
  }

  #snaptarget {
    height: 140px;
    background-color: gray;
  }

  #draggable2 {
    background-color: crimson;
    color: white;
  }

</style>

<h1 class="display-4">Welcome To Article Base</h1>
<p class="mb-4">This is a Sails.JS App for managing articles</p>
<a href="/articles/list" class="btn btn-light">View Articles</a>
<a href="/articles/add" class="btn btn-light">Add Articles</a>

<br>

<div id="snaptarget" class="ui-widget-header">
  <p style="padding: 10px;">I'm a snap target</p>
</div>

<br><br><br>

<div id="draggable2" class="draggable ui-widget-content">
  <p>I only snap to the big box</p>
</div>
